html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Navbar */
.navbar {
    background-color: #ecf0f3;
    box-shadow: 5px 5px 15px #b1b1b1, -5px -5px 15px #fff;
    border-radius: 10px;
    padding: 10px 20px;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #03A9F4;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #555;
    margin: 0 10px;
    transition: color 0.3s;
}

    .navbar-nav .nav-link:hover {
        color: #039BE5;
    }

/* Botón Salir */
.btn-outline-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #cbced1, -3px -3px 5px #fff;
}

    .btn-outline-danger:hover {
        background-color: #f1b0b7;
    }
